* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
}

body {
    background-image: url(./images/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Courgette', cursive;
    text-align: center;
}

h1 {
    font-size: 100px;
    text-align: center;
    margin: 20px;
    padding: 0 7px;
    /* font-family: 'Kalam', cursive; */
    background: rgb(255, 201, 43);
    background: linear-gradient(108deg, rgba(255, 201, 43, 1) 0%, rgba(255, 238, 155, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    position: relative;
}

h1::after {
    content: "Find the treasure!";
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 7px;
    color: black;
    z-index: -1;
    transform: scale(1.02, 1.2);
    filter: blur(10px);
}

p {
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    padding: 0 20px;
    line-height: 80px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    font-size: 40px;
}

#restartButton {
    transition: 0.2s;
    margin-top: 20px;
}

#restartButton:hover {
    transform: scale(1.1);
}

ul {
    position: absolute;
    top: 0;
    left: 500px;
}

li {
    height: 100px;
    width: 120px;
    background-color: white;
    line-height: 80px;
    list-style: none;
    transition: 0.15s;
}

#map0 {
    border-radius: 10px 10px 0 0;
}

#map1 {
    border-radius: 0 0 10px 10px;
}

li:hover {
    background-color: #eee;
    transform: scale(1.1);
    border-radius: 10px !important;
}

li img {
    width: 70px;
    margin-top: 15px;
}

.game {
    position: relative;
    margin: auto;
    margin-top: 30px;
    width: 500px;
}

#map {
    width: 500px;
}

#pirate {
    position: absolute;
    width: 50px;
    top: 0;
    left: 60px;
    transition: 1s;
    pointer-events: none;
}

#treasure {
    position: absolute;
    top: 235px;
    left: 235px;
    width: 30px;
    opacity: 0;
    pointer-events: none;
    transition: 2s;
    filter: drop-shadow(0 0 5px black);
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 5px black);
        transform: scale(5);
    }

    100% {
        filter: drop-shadow(0 0 5px gold);
        transform: scale(5.5);
    }
}